/*
    667px is the width of the hero at 834px
    1292px is the width of the hero at 1360px
    410.84px is the width of the asset at 1360px
*/

:root {
  --hero-tagline: calc(224 / 667 * 100cqw);
  --hero-tagline--line-height: 1.2;
  --hero-tagline--letter-spacing: -0.02em;
  --hero-tagline--font-weight: 700;

  --asset-file-type: calc(14 / 410.84 * 100cqw);
  --asset-file-type--line-height: 1.3;
  --asset-file-type--letter-spacing: -0.02em;
  --asset-file-type--font-weight: 450;

  --asset-title: calc(17 / 410.84 * 100cqw);
  --asset-title--line-height: 1.2;
  --asset-title--letter-spacing: -0.02em;
  --asset-title--font-weight: 500;

  --asset-key-value: calc(14 / 410.84 * 100cqw);
  --asset-key-value--line-height: 1.2;
  --asset-key-value--letter-spacing: 0em;
  --asset-key-value--font-weight: 500;

  --action-button: calc(22 / 667 * 100cqw);
  --action-button--line-height: 1.2;
  --action-button--letter-spacing: -0.03em;
  --action-button--font-weight: 700;

  --footer: 14px;
  --footer--line-height: 1.2;
  --footer--letter-spacing: -0.01em;
  --footer--font-weight: 500;

  --enter-code-title: calc(32 / 1360 * 100vw);
  --enter-code-title--line-height: 1.2;
  --enter-code-title--letter-spacing: -0.04em;
  --enter-code-title--font-weight: 700;

  --enter-code-input: calc(101.32 / 1360 * 100vw);
  --enter-code-input--line-height: 1.24;
  --enter-code-input--letter-spacing: -0.02em;
  --enter-code-input--font-weight: 700;
}

@media (width >= 835px) {
  :root {
    --hero-tagline: 24.8cqw;
    --action-button: calc(22 / 1292 * 100cqw);
    --footer: 16px;
  }
}

@theme inline {
  --text-hero-tagline: var(--hero-tagline);
  --text-hero-tagline--line-height: var(--hero-tagline--line-height);
  --text-hero-tagline--letter-spacing: var(--hero-tagline--letter-spacing);
  --text-hero-tagline--font-weight: var(--hero-tagline--font-weight);

  --text-asset-file-type: var(--asset-file-type);
  --text-asset-file-type--line-height: var(--asset-file-type--line-height);
  --text-asset-file-type--letter-spacing: var(
    --asset-file-type--letter-spacing
  );
  --text-asset-file-type--font-weight: var(--asset-file-type--font-weight);

  --text-asset-title: var(--asset-title);
  --text-asset-title--line-height: var(--asset-title--line-height);
  --text-asset-title--letter-spacing: var(--asset-title--letter-spacing);
  --text-asset-title--font-weight: var(--asset-title--font-weight);

  --text-asset-key-value: var(--asset-key-value);
  --text-asset-key-value--line-height: var(--asset-key-value--line-height);
  --text-asset-key-value--letter-spacing: var(
    --asset-key-value--letter-spacing
  );
  --text-asset-key-value--font-weight: var(--asset-key-value--font-weight);

  --text-action-button: var(--action-button);
  --text-action-button--line-height: var(--action-button--line-height);
  --text-action-button--letter-spacing: var(--action-button--letter-spacing);
  --text-action-button--font-weight: var(--action-button--font-weight);

  --text-footer: var(--footer);
  --text-footer--line-height: var(--footer--line-height);
  --text-footer--letter-spacing: var(--footer--letter-spacing);
  --text-footer--font-weight: var(--footer--font-weight);

  --text-enter-code-title: var(--enter-code-title);
  --text-enter-code-title--line-height: var(--enter-code-title--line-height);
  --text-enter-code-title--letter-spacing: var(
    --enter-code-title--letter-spacing
  );
  --text-enter-code-title--font-weight: var(--enter-code-title--font-weight);

  --text-enter-code-input: var(--enter-code-input);
  --text-enter-code-input--line-height: var(--enter-code-input--line-height);
  --text-enter-code-input--letter-spacing: var(
    --enter-code-input--letter-spacing
  );
  --text-enter-code-input--font-weight: var(--enter-code-input--font-weight);
}
