@import "tailwindcss";
@import "./styles/font-size.css";
@import "@fontsource-variable/inter";

:root {
  --hero-width: 100vw;
  /*
    1292px is the width of the hero at 1360px
  */
  --asset-padding: calc(6 / 1292 * 100cqw);
  --asset-gap: calc(12 / 1292 * 100cqw);
  --asset-image-container-padding: calc(8 / 1292 * 100cqw);
  --asset-file-type-height: calc(18 / 1292 * 100cqw);
  --asset-file-type-padding-x: calc(5 / 1292 * 100cqw);
  --asset-file-type-padding-y: calc(1 / 1292 * 100cqw);
  --asset-metadata-gap: calc(5 / 1292 * 100cqw);
  --asset-metadata-padding-x: calc(8 / 1292 * 100cqw);
  --asset-metadata-padding-b: calc(14 / 1292 * 100cqw);
  --asset-key-value-gap: calc(5 / 1292 * 100cqw);
}

@media (width >= 835px) {
  :root {
    /* 
      Linear interpolation from 90vw at 835px to 95vw at 1360px
      
      Points: (835px, 751.5px) → (1360px, 1292px)
      
      Formula: y = mx + b
      - slope (m) = (1292 - 751.5) ÷ (1360 - 835) = 540.5 ÷ 525 ≈ 1.0295
      - intercept (b) = 751.5 - 1.0295 × 835 ≈ -108.15
      
      Result: width = 1.0295 × viewport_width - 108.15px
    */
    --hero-width: clamp(
      90vw,
      calc((540.5 / 525) * 100vw + 751.5px - (540.5 / 525) * 835px),
      95vw
    );
  }
}

@media (width >= 1360px) {
  :root {
    /* 
      Linear interpolation from 95vw at 1360px to 84vw at 2560px
      
      Points: (1360px, 1292px) → (2560px, 2150.4px)
      
      Formula: y = mx + b
      - slope (m) = (2150.4 - 1292) ÷ (2560 - 1360) = 858.4 ÷ 1200 ≈ 0.7153
      - intercept (b) = 1292 - 0.7153 × 1360 ≈ 319.15
      
      Result: width = 0.7153 × viewport_width + 319.15px
    */
    --hero-width: clamp(
      84vw,
      calc((858.4 / 1200) * 100vw + 1292px - (858.4 / 1200) * 1360px),
      95vw
    );
  }
}

@media (width >= 2560px) {
  :root {
    --hero-width: calc(0.84 * 2560px);
  }
}

@theme {
  --font-helvetica-neue: "helvetica-neue-lt-pro", sans-serif;
  --font-inter: "Inter Variable", sans-serif;
  --color-background: #000;
  --color-foreground: #ffd922;
  --breakpoint-835: 835px;
  /*
    1292px is the width of the hero at 1360px
  */
  --radius-asset: calc(14 / 1292 * 100cqw);
  --radius-asset-image: calc(8 / 1292 * 100cqw);
  --radius-asset-file-type: calc(5 / 1292 * 100cqw);
}

body {
  @apply min-h-svh bg-background text-foreground font-helvetica-neue antialiased overscroll-none;
}
